@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, img {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My code */
html {box-sizing: border-box;}
body {min-height: 100vh;}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
header {
    background-image: url(images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 13.5rem;
}
.mobile-menu-nav {display: none;}
header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem 10rem;
    position: relative;
}
.header-img img {width: 9.5rem;}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1.5rem;
    border: 2px solid white;
}
.container {
    width: 100%;
    margin: 5rem 0 6rem;
    text-align: center;
}
.interactive {margin: 0 1.5rem 6rem;}
.interactive-img {margin-bottom: 2rem;}
.interactive img {width: 100%;}
.interactive h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.9rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.interactive p {
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 55%);
    line-height: 1.5;
    font-size: 0.9rem;
    margin: 0 2rem;
}
.images {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 1.5rem;
}
.images h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}
.images-section > div {
    position: relative;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.images-section img {
    width: 100%;
    filter: brightness(80%);
}
.images-section h3 {
    position: absolute;
    text-align: left;
    left: 1.2rem;
    bottom: 1.2rem;
    color: white;
    font-size: 1.5rem;
}
.images-section {margin-bottom: 2rem;}
.images-section > div:hover {
    cursor: pointer;
    opacity: 0.5;
}
.btn-2 {
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1rem;
    padding: 0.75rem;
    border: 1px solid black;
    color: black;
    background-color: white;
    width: 9.5rem;
}
footer {
    font-family: 'Alata', sans-serif;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 3rem 0 4rem;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.icons > img:hover {cursor: pointer;}
.footer-img  {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.footer-img img {width: 40%;}
footer li {margin-bottom: 1.5rem;}
.footer-left {margin-bottom: 3rem;}
.footer-right p {opacity: 0.5;}

/* hover effects */
li {position: relative;}
li:hover {cursor: pointer;}
li::after{
    content: '';
    position: absolute;
    width: 0;
    left: 50%;
    bottom: -0.5rem;
    height: 0.15rem;
    transform: translateX(-50%);
    background: white;
}
li:hover::after {width: 1.8rem;}
button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

@media screen and (max-width: 374px) {
    header h1 {font-size: 1.85rem;}
    .interactive h2, .images h2 {font-size: 1.75rem;}
}

@media screen and (max-width: 540px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: black;
        padding: 0;
        display: flex;
        align-items: center;
        color: white;
    }
    li:hover::after{display: none;}
    .mobile-menu.active {left: 0;}
    .container.active, .footer.active {display: none;}
    .interactive-desktop, .btn-1, .desktop-img {display: none;}
    .mobile-menu-nav {
        display: flex;
        position: absolute;
        right: 0;
        left: 0;
        top: 40px;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;
    }
    .menu-logo img {width: 9.5rem;}
    .mobile-menu ul {
        font-family: 'Josefin Sans', sans-serif;
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
        margin-top: 4rem;
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    .mobile-menu li {margin-bottom: 1.5rem;}
}

@media screen and (min-width: 541px) {
    header {
        background-image: url(images/desktop/image-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .interactive-mobile {display: none;}
    .open-menu, .btn-2, .mobile-img {display: none;}
    .mobile-menu ul {
        font-family: 'Josefin Sans', sans-serif;
        display: flex;
        flex-direction: row;
        color: white;
    }
    .btn-1 {
        font-family: 'Alata', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-size: 0.85rem;
        padding: 0.35rem;
        border: 1px solid black;
        color: black;
        background-color: white;
        width: 10rem;
    }
    .see-all {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .images-section > div {margin: 0;}
}

@media screen and (min-width: 426px) and (max-width: 540px) {
    header h1 {font-size: 3rem;}
    .header-img img, .menu-logo img {width: 12rem;}
    .interactive h2, .images h2 {font-size: 2.2rem;}
    .images-section h3 {font-size: 1.8rem;}
    .interactive p {font-size: 1.2rem;}
    footer li{font-size: 1.2rem;}
}

@media screen and (min-width: 541px) and (max-width: 825px) {
    .open-menu, .btn-2, .mobile-img {display: none;}
    header > nav {margin: 0 4rem 7rem;}
    .mobile-menu ul {gap: 1.25rem; font-size: 0.75rem;}
    header h1 {
        margin: 0 4rem;
        font-size: 3rem;
        max-width: 30rem;
        padding: 2rem;
    }
    .container {
        position: relative;
        margin-top: 8rem;
    }
    .interactive {margin: 0 4rem 8rem;}
    .interactive-img {
        width: 65%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0;
    }
    .interactive > section {
        width: 30%;
        text-align: left;
        padding: 2rem;
        position: absolute;
        right: 10%;
        top: 3.5%;
        background-color: white;
    }
    .interactive h2 {font-size: 1.25rem;}
    .interactive p {font-size: 0.65rem; margin: 0;}
    .images {margin: 0 4rem;}
    .images-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
    .images-section h3 {font-size: 2rem;}
    .images h2 {font-size: 1.8rem;}
}

@media screen and (min-width: 826px) and (max-width: 1250px) {
    header > nav {margin: 0.5rem 5rem 7rem;}
    .mobile-menu ul {gap: 1.5rem;}
    header h1 {
        font-size: 3rem;
        max-width: 30rem;
        padding: 2rem;
        margin: 0 5rem;
    }
    .images {margin: 0 5rem;}
    .images-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.5rem;
    }
    .container {
        position: relative;
        margin-top: 10rem;
    }
    .interactive {margin: 0 5rem 10rem;}
    .interactive-img {
        width: 65%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0;
    }
    .interactive > section {
        width: 30%;
        text-align: left;
        padding: 3rem;
        position: absolute;
        right: 12%;
        top: 13%;
        background-color: white;
    }
    .interactive h2 {font-size: 1.7rem;}
    .interactive p {font-size: 0.7rem; margin: 0;}
    .container {margin-bottom: 10rem;}
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 3rem;
    }
    footer ul {
        display: flex;
        gap: 1rem;
        font-size: 0.8rem;
    }
    .icons {justify-content: flex-end; margin-bottom: 2rem;}
    footer ul>li {margin: 0;}
    .footer-img {justify-content: flex-start;}
    .footer-img img {width: 9rem;}
    .footer-left {margin: 0 0 0 5rem; text-align: left;}
    .footer-right {margin: 0 5rem 0 0; text-align: right;}
    .footer-right p {font-size: 0.85rem;}
}

@media screen and (min-width: 1000px) and (max-width: 1250px) {
    .interactive > section {
        width: 30%;
        text-align: left;
        padding: 4.5rem;
        position: absolute;
        right: 8.5%;
        top: 10%;
        background-color: white;
    }
    .interactive h2 {font-size: 2rem;}
    .interactive p {font-size: 1rem; margin: 0;}
}

@media screen and (min-width: 1251px) {
    header > nav {margin: 1.75rem 7.5rem 7rem;}
    .header-img img {width: 12.5rem;}
    .mobile-menu ul {
        gap: 2rem;
        font-size: 1rem;
    }
    header h1 {
        margin: 0 7.5rem;
        font-size: 4rem;
        max-width: 35rem;
        padding: 2.5rem;
    }
    .container {
        position: relative;
        margin-top: 10rem;
    }
    .interactive {margin: 0 7.5rem 10rem;}
    .interactive-img {
        width: 65%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0;
    }
    .interactive > section {
        width: 30%;
        text-align: left;
        padding: 5rem;
        position: absolute;
        right: 8.5%;
        top: 12%;
        background-color: white;
    }
    .interactive h2 {font-size: 2.75rem;}
    .interactive p {
        font-size: 1rem;
        margin: 0;
    }
    .container {margin-bottom: 10rem;}
    .images {margin: 0 7.5rem;}
    .images h2 {font-size: 2.15rem;}
    .btn-1 {
        font-size: 1rem;
        padding: 0.5rem;
    }
    .images-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
    }
    .images-section h3 {
        left: 2rem;
        bottom: 2rem;
        font-size: 2rem;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 3rem;
    }
    footer ul {display: flex; gap: 1rem;}
    .icons {justify-content: flex-end; margin-bottom: 2rem;}
    footer ul>li {margin: 0;}
    .footer-img {justify-content: flex-start;}
    .footer-img img {width: 9rem;}
    .footer-left {
        margin: 0 0 0 7.5rem;
        text-align: left;
    }
    .footer-right {
        margin: 0 7.5rem 0 0;
        text-align: right;
    }
}